<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot Web MVC App</title>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>

<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

    <div th:if="${param.error}">
        Invalid username and password.
    </div>

    <div th:if="${param.logout}">
        You have been signed out.
    </div>

    <div>
        <form class="form-horizontal" th:action="@{login}" method="post">
            <div class="form-group">

                <label class="col-sm-2 control-label"></label>
                <div class="col-sm-10">
                    <p class="form-control-static">
                        <p th:text="${message}" style="color:red">Flash Attribute</p>
                    </p>
                </div>


                <label class="col-sm-2 control-label">Email:</label>
                <div class="col-sm-10">
                    <p class="form-control-static">
                        <input type="text" name="username"/>
                    </p>
                </div>

                <label class="col-sm-2 control-label">Password:</label>
                <div class="col-sm-10">
                    <p class="form-control-static">
                        <input type="password" name="password"/>
                    </p>
                </div>
                <label class="col-sm-2 control-label"></label>
                <div class="col-sm-10">
                    <p class="form-control-static">
                        <label>New Customer?
                            <a href="#" th:href="@{/person/add}">Start Here</a>
                        </label>
                    </p>
                </div>

            </div>

            <div class="row">
                <button type="submit" class="col-sm2 btn btn-default">Sign In</button>
            </div>

        </form>
    </div>

    <!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->
</div>
</body>
</html>